{%  extends 'base.html.twig' %}

{% block title %}Podział P&O BP{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="row page-titles">
            <div class="col-12 align-self-center">
                <h3 class="text-themecolor mb-0">Podział P&O BP</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Imię Nazwisko/obszary bez P&O BP</th>
                                        <th>Liczba przypisanych obszarów</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for businessPartner in businessPartners %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('business_partner', {user:businessPartner.id}) }}">{{ businessPartner.name~' '~businessPartner.surname }}</a>
                                            </td>
                                            <td class="w-25">{{ businessPartner.count }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ parent() }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/libs/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/pages/datatable/custom-datatable.js') }}"></script>
    <script src="{{ asset('assets/js/pages/datatable/datatable-basic.init.js') }}"></script>
{% endblock %}