<div id="changePasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Zmiana hasła dla użytkownika</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            {{ form_start(formEditPassword) }}
            <div class="modal-body">
                <div class="form-group">
                    {{ form_label(formEditPassword.password) }}
                    {{ form_errors(formEditPassword.password) }}
                    <div class="input-group">
                        {{ form_widget(formEditPassword.password) }}
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" onclick="generatePassword()"><i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" type="submit" >Zapisz</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Zamknij</button>
            </div>
            {{ form_end(formEditPassword) }}
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>