{%  extends 'base.html.twig' %}

{% block title %}Widgety{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor mb-0">Przeterminowane szkolenia</h3>
            </div>
            <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                <div class="d-flex justify-content-end">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Nazwisko i imię</th>
                                        <th>Dywizja</th>
                                        <th>Obszar</th>
                                        <th>Data onboardingu</th>
                                        <th>Nazwa szkolenia</th>
                                        <th>Data szkolenia</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.surname~' '~user.name }}</td>
                                            <td>{{ user.division }}</td>
                                            <td>{{ user.department }}</td>
                                            <td>{% if user.onboardingDate %}{{ user.onboardingDate|date('Y-m-d') }}{% else %}{{ user.onboardingDate }}{% endif %}</td>
                                            <td>{{ user.trainingName }}</td>
                                            <td>{{ user.day }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        {{ parent() }}#}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/libs/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/pages/datatable/custom-datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            $datatables = $('#zero_config').DataTable({
                orderCellsTop: true,
                language: {
                    emptyTable: "Brak wyników",
                    infoEmpty: "Brak wyników",
                    zeroRecords: "Brak wyników",
                    lengthMenu: "_MENU_",
                    search: "  ",
                    sSearchPlaceholder: "Wyszukaj...",
                    info: "Wyświetlanych jest _START_ do _END_ z _TOTAL_ wyników", sInfoFiltered:"(wyfiltrowane z _MAX_ wszystkich wpisów)",
                    paginate: {
                        "next": " >",
                        "previous": "< "
                    }
                },

            });
        });
    </script>
{% endblock %}