{% extends 'base.html.twig' %}

{% block title %}Migracja m/y dywizjami{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="row page-titles">
            <div class="col-12 align-self-center">
                <h3 class="text-themecolor mb-0">Migracja m/y dywizjami</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="offset-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(form) }}
                            <div class="form-body">
                                <h3 class="title">Dane w nowej dywizji</h3>
                                <div class="row">
                                    <div class="col-12">
                                        {{ form_row(form.department) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_row(form.position) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.formOfEmployment) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_row(form.typeOfWorker) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.email) }}
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="text-right">
                                        <a class="btn btn-dark" href="{{ path('migration_find') }}">Anuluj</a>
                                        <button type="submit" class="btn btn-info">Zapisz</button>
                                    </div>
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ parent() }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>


    </script>
{% endblock %}