<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon.png') }}">
        <title>{% block title %}{% endblock %}</title>
        <link rel="canonical" href="https://www.wrappixel.com/templates/xtremeadmin/" />
        <link rel="stylesheet" href="{{ asset('assets/libs/sweetalert2/dist/sweetalert2.min.css') }}">
        <!-- Custom CSS -->
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('assets/css/style.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <div id="main-wrapper">
            {% block topbar %}
                {% include 'header.html.twig' %}
            {% endblock %}

            {% block sidebar %}
                {% include 'sidebar.html.twig' %}
            {% endblock %}

            {% block body %}
                <footer class="footer">
                    © 2020 Material Pro Admin by wrappixel.com
                </footer>
            {% endblock %}
        </div>

        <script src="{{ asset('assets/libs/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="{{ asset('assets/libs/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ asset('assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}
            <script src="{{ asset('assets/js/app.min.js') }}"></script>
            <script src="{{ asset('assets/js/app.init.js') }}"></script>
            <script src="{{ asset('assets/js/app-style-switcher.js') }}"></script>
            <!-- slimscrollbar scrollbar JavaScript -->
            <script src="{{ asset('assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
            <script src="{{ asset('assets/extra-libs/sparkline/sparkline.js') }}"></script>
            <!--Wave Effects -->
            <script src="{{ asset('assets/js/waves.js') }}"></script>
            <!--Menu sidebar -->
            <script src="{{ asset('assets/js/sidebarmenu.js') }}"></script>
            <!--Custom JavaScript -->
            <script src="{{ asset('assets/js/custom.min.js') }}"></script>
            <script src="{{ asset('assets/libs/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
            <script>
                {% for flash in app.session.flashBag.get('success') %}
                Swal.fire({
                    text: "{{ flash|raw }}",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                {% endfor %}
                {% for flash in app.session.flashBag.get('error') %}
                Swal.fire({
                    text: "{{ flash|raw }}",
                    type: "error",
                    timer: 2000,
                    showConfirmButton: false
                });
                {% endfor %}
            </script>
        {% endblock %}
    </body>
</html>
